name: Validation Gate

on: 
  pull_request:

jobs:
  hello-world:
    runs-on: ubuntu-latest

    steps:
      - name: write pr number
        run: echo "${{ github.event.pull_request.number }}" > pr_number.txt

      - name: upload artifact
        uses: actions/upload-artifact@v2
        with:
          path: pr_number.txt
